/**
 * Styles for the fractal information pages
 */

.fractal-info-page-container {
    padding: 2rem;
    margin-top: 8rem; /* Space for fixed header */
    min-height: calc(100vh - 4rem);
    overflow: hidden;
}

.card-carousel {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    animation: carousel 60s linear infinite;
    width: max-content;
}

.card-carousel:hover {
    animation-play-state: paused;
}

.card-carousel .card {
    flex: 0 0 300px;
    transition: transform 0.3s ease;
}

.card-carousel .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

.fractal-info-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.fractal-info-text p {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 1em;
    border-radius: 5px;
    margin: 1em;
    transition: color 0.1s ease, background-color 0.1s ease, transform 1s ease;
}
.fractal-info-text p:hover {
    color: goldenrod;
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(-300px * 3 - 2rem * 3)
        ); /* Move by 3 cards + gaps */
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .fractal-info-page-container {
        padding: 1rem;
    }

    .card-carousel {
        gap: 1rem;
    }

    .card-carousel .card {
        flex: 0 0 250px;
    }

    @keyframes carousel {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 3 - 1rem * 3));
        }
    }
}
