.Home-container-div {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}

.Home-text-block {
    border-radius: 5px;
    background-color: var(--bg-glass);
    backdrop-filter: blur(15px);
    /* border: 1px gold solid; */
    box-shadow: 0 0 10px var(--shadow-glow);

    padding: 10px 25px;
    margin: 25px 25px 10px 10px;
    align-self: center;

    font-family: "Crimson Pro", "Times New Roman", serif;
    font-size: 1.6em;
    text-align: justify;
}

.Home-text-block:hover {
    animation: goldenBorderAnimation 3s infinite;
    color: rgb(var(--rgb-gold));
}

.home-ul {
    text-align: left;
    margin: 5px 0px 5px 0px;
    list-style: circle;
}

.home-ul li:hover {
    color: rgb(var(--rgb-gold));
}

.Home-image-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 5px;
}

#home-text1,
#home-text3 {
    justify-self: end;
}

#home-text2 {
    justify-self: left;
}

#span-1 {
    font-weight: bold;
    font-size: larger;
}

@keyframes goldenBorderAnimation {
    0% {
        border-color: transparent;
        box-shadow: 0 0 10px var(--shadow-glow);
    }

    50% {
        border-color: rgb(var(--rgb-gold));
        box-shadow: 0 0 15px var(--shadow-glow);
    }

    100% {
        border-color: transparent;
        box-shadow: 0 0 10px var(--shadow-glow);
    }
}