#header-div h1 {
    font-size: 7em;
    justify-self: left;
    align-items: top;
    font-family: "Great Vibes", "Brush Script MT", cursive;
}

a:link,
a:visited,
a:active {
    color: white;
    text-decoration: none;
    font-family: "Great Vibes", "Brush Script MT", cursive;
}

a:hover {
    color: goldenrod;
}

#header-container-div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: top;
    padding: 10px 20px;
    margin-bottom: 1.5%;
}

#header-navbar-div {
    justify-self: left;
    margin-left: 5%;
}

#header-navbar-div ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0; /* Remove default ul padding */
    margin: 0; /* Remove default ul margin */
}

#header-navbar-div li {
    display: inline-block;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px; /* Add some horizontal spacing between list items */
}
