/**
 * Styles for the Searchbar component
 */

.searchbar {
    position: relative;
    padding: 10px;
}

.searchbar__form {
    display: flex;
    align-items: center;
}

.searchbar__input {
    padding: 5px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background: var(--bg-dark-search);
    color: var(--color-white);
}

.searchbar__input::placeholder {
    color: var(--color-slate-300);
}

.searchbar__suggestions {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    background: var(--bg-dark-overlay);
    border: 1px solid var(--border-transparent-white);
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.searchbar__suggestion-item {
    padding: 10px;
    cursor: pointer;
    color: var(--color-white);
    border-bottom: 1px solid var(--border-transparent-white);
}

.searchbar__suggestion-item:hover {
    background: var(--bg-glass);
    color: var(--color-goldenrod);
}

/* Responsive styles */
@media (max-width: 768px) {
    .searchbar {
        width: 100%;
        margin-top: 1rem;
    }

    .searchbar__input {
        width: 100%;
    }
}